@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

*, ruby, rt, rp, p {
  font-family: 'Parkinsans', Helvetica, Arial, sans-serif;
  flex-wrap: wrap;
}

body {
  background: linear-gradient(30deg, royalblue, lightblue);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
  width: auto;
  color: white;
  
  display: block;
  align-content: center;
  text-align: center;
}

svg {
  width: 100px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 40px;
}

#links {
  gap: 50px;
  display: flex;
  flex-wrap: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#links a {
  color: white;
  text-decoration: none;
}

#devs {
  display: flex;
  flex-wrap: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 25px;
}

#devs img {
  background-color: white;
  border-radius: 50%;
  width: 100px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 10%);
}

hr {
  border: dotted;
  border-color: rgba(0, 0, 0, 10%);
}

#bups, #bf {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 10px;
}

#projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#thumbnail {
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 10%);
}